// color scheme
$white: #fff;
$gray: #808080;
$black: #000;

// Buttons colors
$primary: #92dce5;
$primary-hover: #64bdc9;
$red: rgb(248, 66, 66);

//typography - font family

$font1: "Montserrat", sans-serif;
$font2: "Open Sans", sans-serif;

//typography -fontweight
$bold: 700;
