.herosection {
  width: 100%;
  height: 200px;
  background-color: gray;
  background-image: url("../img/image-banner.png");
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  margin: 0 auto;
}
