nav {
  width: 100vw;
  height: 80px;
}

.navbar-brand img {
  width: 120px;
  margin-left: 150px;
}

.nav__menu {
  margin-right: 120px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    margin-left: 70px;
  }
}
