nav {
  height: 80px;
}

.container_nav {
  display: inline-block;
  width: 40%;
}

.navbar-nav {
  background-color: $fondo_nav;
}

.navbar-brand img {
  width: 50%;
  margin-left: 120px;
}

.nav__menu {
  margin-right: 100px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    margin-left: 35px;
    width: 80%;
  }

  .navbar-brand a {
    display: inline-block;
  }
  // .nav__menu {
  //   width: 80%;
  //   margin-right: 0;
  // }
}
